/* Global */

body {
    font-size: 1em;
    margin: 0;
}

.container {
    max-width: 1140px;
    width: 95%;
}



/* HEADER  */

header {
    display: flex;
    height: 100vh;
    background-color: rgb(207, 241, 252);
    h1 {
    }
}