/* Global */

.body {
    font-size: 1em;
}

.container {
    max-width: 1140px;
    width: 95%;
}



/* HEADER  */

header {
    display: flex;
    height: 100vh;
    background-color: pink;
    h1 {
        text-align: center;
        color: white;
    }
}